.background {
    background-color: rgb(38, 102, 127);
}

.content-container{
    display:flex;
    justify-content:center;
    align-items:center;

}

#search-input {
    width: 500px;
    padding:10px;
    border-radius: 15px;
    margin-top:50%;
    border: 2px solid rgb(63, 63, 253);
}

#search-input:focus {
    cursor:pointer;
     border: 3px solid rgb(252 212 118);
     outline: none;
}

.logo {
    width: 150px;
    height: 150px;
}
