.background {
    background-color: rgb(38, 102, 127);
}

.content-container{
    display:flex;
    justify-content:center;
    align-items:center;

}

#search-input {
    width: 500px;
    padding:10px;
    border-radius: 15px;
    margin-top:50%;
    border: 2px solid rgb(63, 63, 253);
}

#search-input:focus {
    cursor:pointer;
     border: 3px solid rgb(252 212 118);
     outline: none;
}

.logo {
    width: 150px;
    height: 150px;
}

.search-bar {
    position: relative;
    display:flex;
    justify-content: center;
    align-items:center;
    width: 500px;
}

#search-results{
    position: absolute;
    top: 100%;
    left: 0;
    list-style:none;
    width:500px;
    border-radius: 10px;
    z-index: 100;
    background: white;
    max-height: 100vh;
    margin:0;
    padding: 0;
}

#search-results li {
    padding: 8px;
    cursor: pointer;
}

#search-results li:hover {
    background: rgb(252 212 118);
    border-radius: 10px;
}

#weather-result{
    position: absolute;
    top: 100%;
    left: 0;
    background-color: green;
    width:500px;
    border-radius: 10px;
    max-height: 100vh;
    margin:0;
    padding: 0;
}